<%- include('../../partials/header/index'); %>
<body>
  <%- include('../../partials/navbar/index'); %>
  
  <div class="container">
    <h1><%= question.title%></h1>
    <p><%= question.description %></p>
    <hr>
  </div>
</body>
<%- include('../../partials/footer/index'); %>
