<%- include('../../partials/header/index'); %>
<body>
  <%- include('../../partials/navbar/index'); %>
  
  <div class="container">
    <h1><%= question.title%></h1>
    <p><%= question.description %></p>
    <hr>

    <form action="/send/answer" method="post">
      <h3>Responda</h3>
      <label for="answer">Resposta:</label>
      <textarea placeholder="Digite a sua resposta" class="form-control py-2" id="answer" name="answer"></textarea>
      <input type="text" name="questionId" id="" value="<%= question.id %>" hidden>
      <button type="submit" class="btn btn-primary my-2 py-2" id="send-answer-btn">Responder</button>
    </form>
    <hr>
    <h3>Respostas</h3>
    <hr>

    <% answers.forEach((answer) => { %>
      <div class="card my-2">
        <div class="card-body">
          <pre><%= answer.body%></pre>
        </div>
      </div>
    <% }) %>
  </div>
</body>
<%- include('../../partials/footer/index'); %>
